<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Invoicing</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic'>
    <link rel='stylesheet' href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-material.css">
    <link rel="stylesheet" href="/styles/app.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/material-table.css">
    <!--STYLES END-->
  </head>
    <body ng-app="homepage" layout="row" ng-controller="SidebarController as sb" >
        <md-sidenav class="md-sidenav-left md-whiteframe-z3"
                    md-component-id="left" layout="column" md-is-locked-open="sb.open">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="sb.toggleList()" aria-label="Close menu">
                        <md-icon md-svg-icon="menu"></md-icon>
                    </md-button>
                    <h1>Company</h1>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item>
                    <md-button>Test 1</md-button>
                </md-list-item>
                <md-list-item>
                    <md-button>Test 2</md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <div layout="column" layout-fill>
            <md-toolbar layout="row" class="md-whiteframe-z3">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" ng-click="sb.toggleList()" aria-label="Open menu" ng-hide="sb.open">
                        <md-icon md-svg-icon="menu" ></md-icon>
                    </md-button>
                    <h1>Invoicing</h1>
                </div>
            </md-toolbar>
                <md-content layout-fill id="content" ng-controller="AppCtrl as app" >
                    <div infinite-scroll="app.addMonth()" infinite-scroll-distance="2" infinite-scroll-parent="true" infinite-scroll-listen-for-event="invoice_table:loaded" infinite-scroll-immediate-check="false" infinite-scroll-disabled="app.reachedEnd">
                    <section layout="column" ng-repeat="month in app.months" ng-controller="invoice-table as table">
                        <md-subheader class="md-accent">{{ month | date : 'MMMM yyyy' }}</md-subheader>
                        <md-table headers="table.headers" content="table.invoices" sortable="table.sortable" filters="table.search" custom-class="table.custom" count="table.count"></md-table>
                    </section>
                    </div>
                </md-content>
        </div>

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/dependencies/jquery.min.js"></script>
        <script src="/js/dependencies/angular/angular.js"></script>
        <script src="/js/dependencies/angular-animate/angular-animate.js"></script>
        <script src="/js/dependencies/angular-aria/angular-aria.js"></script>
        <script src="/js/dependencies/angular-socket-io/socket.js"></script>
        <script src="/js/dependencies/ngSails.js"></script>
        <script src="/js/dependencies/angular-material/angular-material.js"></script>
        <script src="/js/dependencies/angular-sails/angular-sails.js"></script>
        <script src="/js/dependencies/matertial-table.js"></script>
        <script src="/js/dependencies/ng-infinite-scroll.js"></script>
        <script src="/js/controllers/invoices_table.js"></script>
        <script src="/js/controllers/sidebar.js"></script>
        <script src="/js/homepage.js"></script>
        <script src="/js/services/mdTable.js"></script>
        <!--SCRIPTS END-->
        <!-- <script src="http://greggman.com/downloads/examples/colresizable/colResizable-1.5.min.js"></script> -->
    </body>
</html>
